    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,html{
    overflow-x: hidden;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    /* display: inline-block; */
    /* display: inline-flex; */
    align-items: center;
    justify-content: space-between;
}

.logo-anchor, .profile-anchor {
    display: flex;
    align-items: center;
    text-decoration: none;
    /* gap: 15px; */
    color: #666;
}

 .profile-anchor img{
   
 }

.logo-anchor h1 {
    font-weight: normal;
}

.profile-photo {
    border-radius: 50%;
    width: 15%;
}

.info {
    background-color: rgb(255, 128, 0);
    font-weight: bold;
    padding: 10px;
    color: #fff;
    position: static;
}

.hero {
    min-height: 350px;
    display: flex;
    position: relative;
}

.hero-text {
    width: 100%;
    padding: 70px 90px 200px 200px;
    color: rgba(0, 0, 0, .87);
}

.hero-text h1 {
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 30px;
}

.hero-text p {
    font-size: 20px;
}

.hero-bg {
    /* background-image: url('https://ssl.gstatic.com/analytics/20240530-00/academy/static/hero_academy.jpg'); */
    min-height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
   padding-right: 900px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    position: absolute;
    bottom: -20px;
    right: 680px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 40%;
    color:orange;
    /* background: none; */
}
.courses-wrapper {
    background-color: rgb(109, 109, 211);
    min-height: 50vh;
    padding: 50px 200px;
}
.courses-wrapper h1 {
    color: #fff;
    margin-bottom: 30px;
    font-weight: normal;
}
.courses-container {
    min-height: 60vh;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.course-card {
    background-color: #fff;
    width: 24%;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
}

.course-card-upper-icon {
    width: 15%;
}

.course-card-lower-icon {
    width: 15%;
    float: right;
}

.card-title {
    margin: 20px 0;
}

.card-details {
    margin: 15px 0 60px 0;
    line-height: 1.5;
}

.instructors {
    background-color: rgb(235, 235, 237);
    min-height: 50vh;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.instructors h1 {
    color: #2a2828;
    font-weight: normal;
}

.instructor-wrapper {
    background-color: #f2f2f2;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    display: flex;
}

.instructor-text h2 {
    padding: 20px;
    border-bottom: thin solid #696868;
    color: #2a2828;
    font-weight: normal;
}

.instructor-text p {
    padding: 20px;
    line-height: 1.5;
    
}

.mini-courses h1 {
    font-weight: normal;
    font-size: xx-large;
    margin: 0 0 20px 0;
}

.mini-courses p {
    line-height: 1.5;
}

.mini-courses-wrapper {
    display: flex;
    gap: 15px;
}

.mini-courses-card {
    text-align: center;
    padding: 20px;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    background-color: #f2f2f2;

}

.mini-courses-card img {
    width: 15%;
    padding-bottom: 5px;
}

.mini-courses-wrapper a {
    text-decoration: none;
    color: #2a2828;
}

.footer {
    background-color: #f2f2f2;
}

.footer h1 {
    color: #2a2828;
    margin-bottom: 30px;
    font-weight: normal;
    padding: 30px 0 0 200px;
}

.footer-wrapper {
    padding: 30px 200px;
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer-card {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;

}

.footer-card img {
    width: 40%;
    padding-bottom: 5px;
}

.footer-wrapper a {
    text-decoration: none;
    color: #2a2828;
}

footer {
    padding: 20px;
    background-color: #fff;
}

footer div {
    text-align: right;
}

footer div a {
    text-decoration: none;
    margin: 0 30px;
    font-weight: bold;
    color: #2a2828;
}

footer div a select {
    outline: none;
    border: none;
    font-weight: bold;
    color: #2a2828;
}

/* Media query */
@media(max-width:1535px){
  .courses-wrapper{
    background-color: rgb(143, 200, 200);
            display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); */
  }
  .hero-bg{

  }
}
@media(max-width:1195px){
}
@media(max-width:1130px){
        .hero{
            display: flex;
            flex-direction: column;
        }
       .material-symbols-outlined{
        display: none;
       } 
       .hero-text{
        width: 100%;
       }
       .hero-bg{
        width: 5px;
         /*  */
       }
}
@media(max-width:905px){
    .Gmail{
        display: none;
    }
    .profile-photo{
        font-size: 800em;
    }
    .logo-anchor img{
        display: none;
    }  


}
@media(max-width:530px){

    main{
        align-items: center;
    }

     .hero-text{
        width: 100%;
        padding: 10px;
       }
       .instructors{
        /* padding: 0; */
      align-items: center;
       }


    .instructor-wrapper{
        width: 350px;
      
    }
      .courses-wrapper{
          background: #e11f1f;
    }

       .courses-container{
        width: 350px;
        background-color: rgb(31, 222, 222);
   padding: 0;
    }
    .course-card{
        align-items: center;
        /* padding: 0; */
        background-color: #794848;
    }

    .mini-courses{
        /* width: 100%;  using width 100% didnt why ??? */
       width: 350px;
    }

    .mini-courses-wrapper{
        padding-inline: 10px;
    }
        .footer{
            align-items: center;
            padding: 0;
            margin: 0;
        }

        .footer h1{
            padding-left: 100px;
        }

}
@media(max-width:1444px){
    .courses-container{
      
       
       
    }
    .course-card{
     width: 100%;
        height: 100vh; 
           min-height: 60vh;
             /* display: flex; */
        /* flex-direction: column; */

        /* flex-wrap: wrap; */
   
    }
}
/* @media is quite different from @media screen checkout the differences */

/* @media screen(max-width:905px) {
   .Gmail{
    display:none
   }
} */